body {
    font-size: 16px;
    color: #fff;
    background-color: blue;
    font-family:'Oxygen', sans-serif;
}
/*start navbar*/
#header-nav {
    background-color:#020442;
    border-radius: 0;
    border: 0;

}
#logo-img {
    background: url(../rashanwalalal.png);
    width: 130px;
    height: 85px;
    margin: 10px 15px 10px 0;
}
.navbar-brand {
    padding-top: 25px;
}
.navbar-brand h1 {
    font-family:  'lora',serif;
    color: gold;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #e8e862;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}
.navbar-brand p {
    color: #fff;
    text-transform: uppercase;
    font-size: .7em;
    margin-top: 15px;
    
}
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;

}
#nav-list {
    margin-top: 10px;
}
#nav-list a {
    color: aliceblue;
    text-align: center;
}
#nav-list a:hover {
    background: rgb(107, 160, 235);
}
#nav-list a span {
    font-size: 1.8em;
}
#phone {
    margin-top: 5px;
}
#phone a {
    text-align: right;
    padding-bottom: 0;
}
#phone div {
    color: azure;
    text-align: right;
    padding-right: 15px;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
   border:1px solid blue;

}

.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
}
/*end navbar*/
/* start jumbotron*/
.container .jumbotron { 
     box-shadow: 0 0 50px #16048b;
     border: 2px solid #fff
 }
 #menu-tile, #special-tile, #map-tile {
    height: 250px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    border: 2px solid rgb(10, 10, 141);
    overflow: hidden;
 }
 #menu-tile:hover, #special-tile:hover, #maptile:hover {
    box-shadow: 0 1px 5px 1px rgb(10, 10, 141);
 }
 #menu-tile {
    background: url('../menu.jpg') no-repeat;
    background-position: center;
 }
 #special-tile {
    background: url('../special.jpg') no-repeat;
    background-position: center;
 }
 #menu-tile span ,#special-tile span, #map-tile span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    opacity: 0.8;
 }
 /*end jumbotron*/
 /*start footer*/
.panel-footer{
    margin-top: 30px;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: rgb(31, 32, 34);
    border-top: 0;
}
.panel-footer div.row{
    margin-bottom: 35px;
}
#hour, #address {
    line-height: 2;
}
#hour >span,#address >span{
    font-size: 1.3em;
}
#address p{
    color: rgb(25, 189, 148);
}
#testimonial{
    font-style: italic;
}

 /*end footer*/
 /*start call button xs*/
#call-btn {
    text-align: center;
}
#call-btn  a {
    font-size: 1.2em;
}
#call-btn span {
    font-size: 1em;
    margin-right: 5px;
}
.btn {
    padding: center;
}

 
 /*end call button xs*/
 /* start menu category*/
 .category-tile {
    position: relative;
    border: 2px solid rgb(118, 118, 227);
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: 0 auto 15px;
 }
 .category-tile span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    opacity: .8;
 }
 .category-tile:hover {
    box-shadow: 0 1px 5px 1px #ccc;
 }
 #menu-categories-title +div {
    margin-bottom: 50px;
 }
 /*end menu category*/
 /*single category page*/
 .menu-item-tile {
    margin-bottom: 25px;
 }
 
 .menu-item-tile  hr {
    margin-bottom: 25px;
 }
 
 .menu-item-tile .menu-item-price {
    font-size: 1.1em;
    text-align: right;
    margin-top: -15px;
    margin-right: -15px;
 }
 
 .menu-item-tile .menu-item-price span {
    font-size: .6em;
 }
 
 .menu-item-photo {
    position: relative;
    order: 2px solid rgb(176, 212, 240) ;
    overflow: hidden;
    padding: 0;
    margin-right: -15px;
    margin-left: auto;
    margin-bottom: 20px;
    max-width: 250px;

 }
 
 .menu-item-photo div {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80px;
    background-color: green;
    text-align: center;
    
 }
 
 .menu-item-description {
    padding-right: 30px;
 }
 
 .menu-item-details {
    font-size: .9em;
    font-style: italic;
 }
 /*
 h3 .menu-item-title {
    margin: 0 0 10px;
} 
*/


 /*end single category page*/


/* header size adjust according to device*/
@media (min-width: 1200px) {
    /*start jumbotron*/
    .container .jumbotron {
        background: url('../shop-1200.jpg') no-repeat;
        height: 675px;
        box-shadow: 0 0 50px #16048b;
        border: 2px solid #fff;
    }
    /*end jumbotron*/

}
@media (min-width: 990px )and(maxwidth:1199px) {
    /*start navbar*/
    #logo-img{
        background: url('../rashanwalalal-medium.png') no-repeat;
        width: 100px;
        height: 100px;
        margin: 5px 5px 5px 0;
    }
    /*end navbar*/
    /*start jumbotron*/
    .container .jumbotron {
        background: url('../shop-992.jpg') no-repeat;
        height: 558px;
        box-shadow: 0 0 50px #16048b;
        border: 2px solid #fff
    }
    /*end jumbotron*/
}
@media (min-width:768px)and(max-width:991px){
    /*start jumbotron*/
    .container .jumbotron {
        background: url('../shop-768.jpg') no-repeat;
        height: 432px;
        box-shadow: 0 0 50px #16048b;
        border: 2px solid #fff
    }
    /*end jumbotron*/

}
/*extra small*/
@media (max-width: 767px){
    /*start navbar*/
    .navbar-brand {
        padding-top: 10px;
        height: 80px;

    }
    .navbar-brand h1 {
        padding-top: 10px;
        font-size: 5vw;

    }
    .navbar-brand p {
        font-size: .6em;
        margin-top: 12px;
    }
    .navbar-brand p img {
        height: 20px;        
    }
    #collapsable-nav a {
        font-size: 1.2em;
    }
    #collapsable-nav a span {
        font-size: 0.8em;
        margin-right: 5px;

    }
    /*end navbar*/
    /*start jumbotron*/
    .container .jumbotron {
        margin-top: 30px;
        padding: 0;
         box-shadow: 0 0 50px #16048b;
         border: 2px solid #fff
     }
     #menu-tile, #special-tile {
        width: 360px;
        margin: 0 auto 15px;
     }
     /*end jumbotron*/
     /*start footer*/
     .panel-footer section {
        margin-bottom: 30px;
        text-align: center;
     }
     .panel-footer section:nth-child(3){
        margin-bottom: 0;
     }
     .panel-footer section hr {
        width: 50%;
     }
     /*end footer*/
     /*single category page*/
     .menu-item-photo {
        margin-right: auto;
     }
     /*end single category page*/

}
@media (max-width:479px){
    /*start jumbotron*/
    #menu-tile, #special-tile {
        width: 280px;
        margin: 0 auto 15px;
    }
    /*end jumbotron*/
    /*start */
    .col-xxs-12 {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        width: 100%;


    }
    /*end*/
}